# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/
qis/

# Django
db.sqlite3
media/
staticfiles/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Windows
Thumbs.db

# macOS
.DS_Store

# Logs
*.log